@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  /*> main {
  	flex: 1 1 auto;
  }*/
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  padding: 0;
  max-width: 70.625rem;
  padding: 0 0.9375rem;
  /*	@media (max-width: $pc) {
  	max-width: rem(970);
  }*/
}

.text-string::after {
  content: " ";
  position: absolute;
  width: 105px;
  height: 2px;
  background-color: white;
  left: 50%;
  margin-left: -52.5px;
  bottom: 0;
}

.text-string_b::after {
  content: " ";
  position: absolute;
  width: 81px;
  height: 1px;
  background-color: #000;
  left: 50%;
  margin-left: -40.5px;
  bottom: 0;
}

.list-menu {
  font-family: Lato;
  font-size: 15px;
  color: #3c3c3c;
  text-transform: uppercase;
}

.list-menu .active {
  color: #ada074;
}

.list-menu li {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.list-menu li:hover {
  color: #ada074;
}

.header-title {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
}

.text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
}

.text_b {
  font-weight: bold;
}

.body-title {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 22px;
  letter-spacing: 3.52px;
}

.form-contact__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input,
.textarea {
  display: block;
  width: 100%;
  background-color: #f8f7f7;
  border-top: 1px solid black;
}

.input {
  height: 35px;
}

.textarea {
  height: 120px;
  resize: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input._form-focus {
  border: 1px solid blue;
}

.input._form-error {
  border: 1px solid red !important;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.button {
  text-transform: uppercase;
  position: relative;
  height: 47px;
  line-height: 44px;
  width: 182px;
  display: inline-block;
  font-family: Lato;
  font-size: 15.5px;
  font-weight: normal;
  letter-spacing: 0.93px;
  text-align: center;
  border: 1px solid black;
}

.button::after {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #45748d;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  color: white;
  border: none;
}

.button:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.button span {
  position: relative;
  z-index: 3;
}

.button_w {
  color: white;
  border: 1px solid white;
}

.button_w._fw {
  width: 100%;
}

.arrow {
  position: relative;
  -webkit-animation: arrow 1s infinite linear;
          animation: arrow 1s infinite linear;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}

.text-string::after {
  content: " ";
  position: absolute;
  width: 105px;
  height: 2px;
  background-color: white;
  left: 50%;
  margin-left: -52.5px;
  bottom: 0;
}

.text-string_b::after {
  content: " ";
  position: absolute;
  width: 81px;
  height: 1px;
  background-color: #000;
  left: 50%;
  margin-left: -40.5px;
  bottom: 0;
}

.list-menu {
  font-family: Lato;
  font-size: 15px;
  color: #3c3c3c;
  text-transform: uppercase;
}

.list-menu .active {
  color: #ada074;
}

.list-menu li {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.list-menu li:hover {
  color: #ada074;
}

.header-title {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
}

.text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
}

.text_b {
  font-weight: bold;
}

.body-title {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 22px;
  letter-spacing: 3.52px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  cursor: pointer;
}

.footer {
  position: relative;
  z-index: 5;
  background-color: #3c3c3c;
  padding: 45px 0px;
}

.footer__body {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 40px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list li {
  margin: 0 15px;
}

.footer__link {
  color: #a4a4a4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400px;
}

.footer__text {
  margin-top: 35px;
  color: #6c6c6c;
  font-size: 14px;
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100vh;
          flex: 1 1 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  display: flex;
}

.mainblock__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px 50px;
}

.mainblock__text {
  position: relative;
  padding-bottom: 45px;
}

.mainblock__title {
  font-family: Lato;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.18;
  letter-spacing: 5.44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.mainblock__subtitle {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 4.16px;
}

.mainblock__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainblock__button {
  margin-bottom: 60px;
}

.mainblock__image {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.nav,
.content,
.contact {
  position: relative;
  z-index: 50;
  background-color: white;
}

.portfolio {
  padding-top: 100px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 50;
}

.menu {
  margin: 22px 0px 122px;
  padding-bottom: 21px;
  position: relative;
}

.menu::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
}

.menu__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin: 0px 26px;
}

.about {
  padding-bottom: 60px;
  position: relative;
  z-index: 50;
  background-color: #fff;
}

.about__header-block {
  text-align: center;
  margin-bottom: 65px;
}

.about__body {
  text-align: center;
}

.about__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.about__column {
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.about__items {
  max-width: 260px;
}

.about__icon {
  width: 92px;
  height: 92px;
  border: 3px solid #f0f0f0;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__icon_l img {
  position: relative;
  left: 5px;
}

.about__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 32px 0px 28px;
}

.about__text {
  color: #868585;
}

.header-block__title {
  padding-bottom: 32px;
}

.header-block__text {
  padding-top: 30px;
  color: #868585;
  margin: 0 auto;
  max-width: 688px;
}

.portfolio {
  padding-bottom: 62px;
}

.portfolio__filter {
  margin: 50px 0 135px 0;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
}

.portfolio__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 30px;
}

.portfolio__column img {
  max-width: 100%;
}

.portfolio__footer {
  padding-top: 45px;
  text-align: center;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  padding: 0 25px;
}

.no-webp .partners{
  background: url("/img/03.png") center no-repeat; }

.partners {
  position: relative;
  z-index: 50;
  padding: 100px 0 50px;
}

.partners__title {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: Lato;
  font-size: 30.5px;
  font-weight: 300;
  letter-spacing: 1.83px;
  text-align: center;
  color: #fff;
  padding-bottom: 90px;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 50px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  text-align: center;
}

.partners__item img {
  display: inline-block;
}

.contact__header-block {
  padding-top: 120px;
  padding-bottom: 100px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  display: block;
}

.header-block__title {
  margin-bottom: 100px;
}

.form-contact__body {
  max-width: 380px;
  text-align: end;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  margin-bottom: 75px;
}

.form-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.form-contact__input {
  width: 100%;
}

.form-contact__label {
  text-transform: uppercase;
  text-align: left;
}

.form-contact__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 43px;
}

.contact__content {
  max-width: 260px;
}

.contact__name {
  margin: 35px 0 25px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 29px;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .menu {
    margin: 22px 0px 50px;
  }

  .about {
    padding-bottom: 30px;
  }

  .about__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .portfolio__filter {
    margin: 30px 0 60px;
  }

  .partners {
    padding: 50px 0 0;
  }

  .partners__title {
    padding-bottom: 60px;
  }

  .partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .contact__header-block {
    padding: 80px 0;
  }

  .header-block__title {
    margin-bottom: 80px;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .mainblock__content {
    padding: 20px 0px;
  }

  .mainblock__button {
    margin-bottom: 30px;
  }

  .menu {
    margin-bottom: 30px;
  }

  .menu__list {
    margin-left: 0;
  }

  .menu__link {
    margin: 0 15px 10px 15px;
  }

  .about {
    padding-bottom: 0px;
  }

  .about__header-block {
    margin-bottom: 30px;
  }

  .about__row {
    display: block;
  }

  .about__items {
    max-width: none;
  }

  .about__title {
    margin-top: 15px;
  }

  .header-block__text {
    padding-top: 15px;
  }

  .portfolio {
    padding-bottom: 45px;
  }

  .portfolio__filter {
    margin: 30px 0 20px;
  }

  .portfolio__items {
    margin: 0 -15px;
  }

  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .portfolio__footer {
    padding-top: 15px;
  }

  .filter__item {
    padding: 0 15px;
  }

  .partners__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__column {
    padding: 0 20px 50px;
  }

  .contact__body {
    display: block;
  }

  .header-block__title {
    margin-bottom: 40px;
  }

  .form-contact {
    margin-bottom: 30px;
  }

  .form-contact__body {
    text-align: left;
    max-width: none;
  }

  .form-contact__row {
    margin-bottom: 30px;
  }
}

@media (max-width: 29.99875em) {
  .mainblock__title {
    font-size: 25px;
    line-height: 25px;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .portfolio {
    padding-bottom: 30px;
  }

  .portfolio__footer {
    padding: 0;
  }

  .partners__column {
    padding: 0 0 50px;
  }

  .contact__header-block {
    padding: 40px 0;
  }

  .form-contact__row {
    display: block;
    margin-bottom: 20px;
  }

  .form-contact__button {
    margin-top: 30px;
    display: block;
    width: 100%;
  }

  .contact__name {
    margin: 15px 0 15px;
  }
}

.webp .partners{ background: url(/img/03.webp) center no-repeat; }